.starsAverageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.starsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
