.usermenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--logo-text-color);
}

.usermenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 15px;
}

.logout {
  margin-top: 5px;
  cursor: pointer;
}
